*{
    box-sizing: border-box;

}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
    border: 1px solid gray;
    padding: 15px;
    border-radius: 10px;

}

.models{
    display: flex;
    justify-content: space-between;
}

#select{
    width: 30%;
    text-align: center;
    border-radius: 5px;
}

.counter{
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
}

button{
    border: none;
    background: white;
}

#submit{
    width: 100%;
    background-color: rgb(66, 59, 51);
    padding: 10px;
    border-radius: 5px;
    color: white;
}

.colors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

input[type="radio"]{
    appearance: none;   
}


.white,.black,.blue{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   color: white;
   font-size: 14px;
  
}
.white{
    background-color: red
}
.black{
    background-color: black;
}
.blue{
    background-color: blue;
}

.back{
    height: 52px;
    width: 52px;
    border-radius: 50%;
    background-color: rgb(13, 202, 202)
}


